h1 {
    font-family: 'Londrina Solid', cursive;
    text-align: center;
    margin-top: 7rem;
    font-size: 70px;
    animation: example 5s;
    margin-top: 2rem;
    text-shadow: 2px 2px white;
    margin-bottom: 1rem;
    
  
}

h2 {
    font-family: 'Londrina Solid', cursive;
    font-size: 32px;
    text-align: center;
    margin-top: 10px;
    text-shadow: 1px 1px white;
}

h5 {
    font-family: 'Londrina Solid', cursive;
    font-size: 20px;
    font-style: italic;
    text-shadow: .3px .3px white;
}

p{
    font-family: 'Londrina Solid', cursive;
    font-size: 20px;
    text-shadow: .3px .3px white;
}

@keyframes example {
    0%   {color:black;font-size: 70px;}
    25%  {color: red;font-size: 65px;}
    50%  {color:black;font-size: 70px;}
    75%  {color: red;font-size: 65px;}
    100% {color:black;font-size: 70px;}
  }

body{
    background-color: yellow;
    /* background-image: url("images/spiderman500.png");
    background-repeat: no-repeat;
    background-position: top; */
}

section {
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    
  }
  
  div {
    margin: 1rem;
    padding: 1rem;
    box-shadow: 1px 1px 5px rgb(0, 0, 0);
    background-color:red;
    max-width: 350px;
    width: 350px;
    height: 550px;
    line-height: 100%;
    
    
   
  }

  img {
      width: 200px;
      height: 250px;
      /* text-align: center; */
      display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
      }

  div.smackdown{
      background-image: url("boombubble.png");
      display: flex;
      font-size: 48px;
      font-family: 'Londrina Solid', cursive;
      margin-top: 12rem;
      height:85px;
      padding: 32px;
      display: flex;
      align-content: center;
      box-shadow: 0 3px 3px black;
      border-radius: 2px;
      text-decoration: none;
      color: black;
      
  }

  main {
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    
  }

  div > a {
      text-decoration: none;
      color: black;
      text-align: center;
  }

  #extraLarge {
      font-size: 500px;
  }

  h6{
    font-family: 'Londrina Solid', cursive;
    text-align: center;
    margin-top: 7rem;
    font-size: 500px;
    /* animation-name: example; */
    animation: extraLarge 6s;
    margin-top: 0rem;
    text-shadow: 2px 2px white;
    margin-bottom: 0rem;

  }

  @keyframes extraLarge {
    0%   {color:black;font-size: 550px;}
    25%  {color: red;font-size: 500px;}
    50%  {color:black;font-size: 550px;}
    75%  {color: red;font-size: 500px;}
    100% {color:black;font-size: 550px;}
  }